ansible==2.8.0
ansible-lint==4.1.0
anyconfig==0.9.7
argcomplete==1.12.2
arrow==0.13.1
asn1crypto==0.24.0
atomicwrites==1.3.0
attrs==19.1.0
awscli==1.16.168
Babel==2.1.1
backports.functools-lru-cache==1.5
backports.ssl-match-hostname==3.7.0.1
binaryornot==0.4.4
boto==2.49.0
boto3==1.9.151
botocore==1.12.158
bzr==2.7.0
Cerberus==1.2
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
click==6.7
click-completion==0.3.1
clize==3.0
colorama==0.3.9
configparser==3.7.4
contextlib2==0.6.0.post1
cookiecutter==1.6.0
cpplint==1.4.4
crcmod==1.7
cryptography==3.3.1
dateutils==0.6.6
debtcollector==0.10.0
docker==3.7.2
docker-pycreds==0.4.0
docutils==0.14
entrypoints==0.3
enum34==1.1.6
fasteners==0.14.1
flake8==3.7.7
funcsigs==0.4
functools32==3.2.3.post2
future==0.17.1
futures==3.2.0
gcs-oauth2-boto-plugin==2.7
git-url-parse==1.2.2
google-apitools==0.5.31
google-reauth==0.1.1
httplib2==0.18.1
idna==2.7
importlib-metadata==2.1.1
ipaddress==1.0.22
iso8601==0.1.11
Jinja2==2.8
jinja2-time==0.2.0
jmespath==0.9.4
MarkupSafe==0.23
mccabe==0.6.1
mock==2.0.0
module==0.2.1
molecule==2.20.1
monotonic==0.4
more-itertools==5.0.0
msgpack-python==0.4.6
netaddr==0.7.18
netifaces==0.10.4
oauth2client==4.1.3
oslo.config==2.6.0
oslo.context==0.8.0
oslo.i18n==2.7.0
oslo.log==1.13.0
oslo.serialization==1.11.0
oslo.utils==2.7.0
pathlib2==2.3.3
pathspec==0.5.9
pbr==1.8.1
pexpect==4.6.0
pluggy==0.11.0
powerline-status==2.7.dev9999+git.b0ea99430c00713279f7e3c37aa6c63a85b68ad5
poyo==0.4.2
psutil==5.4.6
ptyprocess==0.6.0
py==1.8.0
py4j==0.10.7
pyasn1==0.4.5
pyasn1-modules==0.2.8
pycodestyle==2.5.0
pycparser==2.19
pyflakes==2.1.1
pyOpenSSL==20.0.0
pyspark==2.4.3
pytest==4.5.0
python-dateutil==2.8.0
python-gilt==1.2.1
python-magic==0.4.15
python-vagrant==0.5.15
pytz==2015.7
pyu2f==0.1.5
pyuv==1.4.0
PyYAML==3.11
requests==2.22.0
retry-decorator==1.1.1
rsa==3.4.2
ruamel.ordereddict==0.4.13
ruamel.yaml==0.15.95
s3cmd==2.0.2
s3transfer==0.2.0
scandir==1.10.0
sh==1.11
sigtools==1.0
six==1.12.0
stevedore==1.9.0
tabulate==0.8.2
testinfra==1.19.0
tree-format==0.1.2
typing==3.6.6
urllib3==1.24.3
vi==0.0.5.dev9
virtualenv==16.6.0
virtualenv-clone==0.5.3
virtualenvwrapper==4.8.4
wcwidth==0.1.7
websocket-client==0.56.0
whichcraft==0.5.2
wrapt==1.10.5
yamllint==1.15.0
zipp==1.2.0
